@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: "Roboto Mono", Roboto, monospace;
  display: flex;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, a, h6 {
  Font-size: 1em;
}

strong {
  font-weight: 700;
}